*{
     font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color:#f2f2f2;
}
header{
    position: sticky;
    top: 0%;
    display: inline-block;
    width: 100%;
    margin: 0%;
    background-color:#f2f2f2;
    border-bottom: 2px solid #29A829;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 2% 0% 2%;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
header nav ul li{
    list-style: none;
    width: 15%;
}
header nav ul li a{
    text-decoration: none;
    color: #8040BF;
    border-radius: 8px;
    padding: 3%;
}

header nav div img{
    width: 140%;
    height: auto;    
}
header nav div a{
    width: 15%;
    display: flex;
    justify-content: center;
}

header nav div:last-child img{
    width: 3%;
    margin: 0%;
    height: auto;
}
header nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
header nav div input{
    border: none;
    background-color: ghostwhite;
    margin-right: 3%;
}
nav div:last-child a{
    background-color: #8040BF;
    text-decoration: none;
    border-radius: 15px;
    padding: 1% 2.5% 1% 2.5%;
    color: white;
}
nav ul li a:hover{
    background-color: rgb(221, 221, 227);
}





main{
    text-align: center;
}
main h2{
    display: flex;
    justify-content: center;
    margin: 15% 0% 5% 0%;
    color: #29A829;
}


main section.top img{
    width: 100%;
    box-shadow: 0px 5px 20px #29A829;
}
main section.top img:last-child{
    width: 70%;
    margin-top: 15%;
    border-radius: 15px;
    border: 3px solid #29A829;
}




main section.frases {
    width: 100%;
    display: flex;
    justify-content: center;
}
main section.frases div{
    width: 30%;
}
main section.frases div p{
    width: 55%;
    margin:3% 0% 10% 25%;
}
main section.frases img{
    width: 55%;
    border-radius: 15px;
    padding: 1%;
    border: 2px solid #29A829;
    margin-top: 15%;
    
}

main section.frases div:last-child{
    margin-top: 5%;
}
main section.frases img:hover{
    border: 4px solid #29A829 ;
}



main section.servicios{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
main section.servicios div{
    display: flexbox;
    width: 30%;
}
main section.servicios img{
    width: 80%;
    margin: 4%;
    padding: 1%;
    border-radius: 15px;
    border: 2px solid #29A829;
}
main section.productos img{
    width: 20%;
    margin: 4%;
    padding: 1%;
    border-radius: 15px;
    border: 2px solid #29A829;
}


main section.Compra h2
{
    margin: 8%;
}
main section.Compra form
{
    display: grid;
    justify-content: center;
    margin: 7% 10% 10% 10%;

}
main section.Compra input{
    width: 110%;
    height: auto;
    margin: 5%;
}
main section.Compra input:last-child:hover{
    border:2px solid #8040BF;
    
}
main section.Compra input:hover{
    border: 2px solid #29A829;
    
}



main section.producto{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 15% 0% 0% 10%;
}
main section.producto div{
    width: 40%;
}
main section.producto img{
    width: 80%;
    padding: 1%;
    border: 2px solid #29A829;
    border-radius: 15px;
}



main section.Nosotros{
    width: 40%;
    margin-left: 30%;
}
main section.Nosotros img{
    padding: 1%;
    border: 1px solid #8040BF;
    border-radius: 15px;
    margin: 2%;
}




footer{  
  padding: 5% 0% 1% 0%;
  margin-top: 15%;
  background-image: url(Imagenes/footer\ -\ copia.jpg);
  background-size: 100% ;
  background-color: #8040BF;
  background-repeat: no-repeat;
}

footer div{
    margin-left: 23%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 3%;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
}
footer p{
    color: whitesmoke;
}
footer img{
    width: 10%;
    margin-left: 45%;
    height: auto;
}